/* @font-face {
    font-family: Calibre;
    src: url('/my-app/Fonts/Calibre/Calibre-Medium.otf');
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
  
}

/* header */ 


div.main__wrap {
    max-width: 1150px;
    margin: 0 auto;
    border: 2px solid grey;
}

 header.header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; 
 } 
 .header__menu {
    display: flex;
     flex-basis: 100%;
     margin-top: 10px;
     margin-bottom: 40px;
 }

 .header__menu nav {
     flex-basis: 100%;
     display: flex;
     height: 50px;
    cursor: pointer;
 }
 
/* navigation */

 nav a {
     font-size: 1.1rem;
     margin: 10px 20px 0;
     color: black;
     text-transform: none;
     text-decoration: none;
     width: 60px;
     text-align: center;
     color: #044B35;
     transition: 0.3s;
     font-weight: bolder;
 }

 nav a i {
     font-size: 20px;
     cursor: pointer;
 }
 nav a:hover {
     border-bottom: 1px solid #2AFBCA ;
 }

.header__title {
    display: flex;
    flex-wrap: wrap;
}

.header__title h1{
    font-size: 50px;
    flex-basis: 100%;
    text-align: center;
    color: #044B35;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header__title p {
    flex-basis: 80%;
    text-align: center;
    margin: 20px auto;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
   
} 



/* active - inputs section  */


div.main__active {
    display: flex;
    flex-wrap: wrap;
}

div.active__input {
    margin-top: 40px;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around; 
}

div.active__input input, select {
    border: none;
    border-bottom: 1px solid #16f0bd ;
    background-color: #fff;
    font-size: 18px;
}


span {
    margin-top: 5px;
    font-size: 13px;
}



div.active__input div {
    display: flex;
    flex-direction: column;
}


/* scenario section */


div.active__scenario {
    display: flex;
    flex-basis: 65%;
    margin-top: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    
}

div.active__scenario h1 {
    flex-basis: 100%;
    font-size: 45px;
    
}

.active__scenario-button {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.active__scenario-button button {
    width: 150px;
    height: 120px;
    border:1px solid #16f0bd;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    text-align: center;
}


.active__scenario button i {
    flex-basis: 100%;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(36, 69, 39);
}

.active__scenario-button button:hover {
    background-color: #7d7CCF;
    background-image: linear-gradient(160deg, #7d7CCF 20%, #2AFBCA 100%);
    color: white;
    border: none;
    transform: scale(1.1);
}




/* down box - footer secrion */




.active__down-box-area {
    display: flex;
    width: 65%;
    margin-left: 50px;
    margin-top: 40px;
    height: 200px;
    background-color: #EDF2F0;
    flex-wrap: wrap;
    
}

section.box {
    display: flex;
    flex-basis: 60%;
    /* height: 100px; */
    justify-content: space-around;
    margin: 20px auto 0;
    
}

section.box p {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    flex-basis: 140px;
    height: 50px;
    text-align: center;
}
section.box p span {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 5px auto;
}

div.list {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
}

div.list ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.list ul li {
    flex-basis: 50%;
    font-size: 12px;
    margin: 10px 0;
}

.list__button {
    flex-basis: 40%;
    display: flex;
    text-align: center;
    margin: 10px auto;
   
}

.list__button button {
    font-size: 8px;
    margin: 10px 5px 0;
    padding: 0 10px;
    height: 20px;
    cursor: pointer;
   
}




/* inputs-range secion  */



.active__input-range {
    flex-basis: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: -130px auto 0;
}

.active__input-range h3 {
    font-size: 1.1rem;
}
div.first div.second div.third {
    display: flex;
    flex-wrap: wrap;
}
.active__input-range div  h3 {
    flex-basis: 100%; 
}


.active__input-range div label {
   margin-right: 50px;
}


input[type=range] {
    -webkit-appearance: none; 
    width: 90%; 
    background: transparent; 
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; 
  }
  
  input[type=range]::-ms-track {
    width: 90%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }


/* track  */


input[type=range]::-webkit-slider-runnable-track {
    margin: 20px 0 ;
    width: 90%;
    height: 12px;
    cursor: pointer;
    background: linear-gradient(160deg, #7d7CCF 20%, #2AFBCA 100%);
    border-radius: 12px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(160deg, #7d7CCF 20%, #2AFBCA 100%);
  }
  



   /* thumb */
  
  input[type=range]::-webkit-slider-thumb {

    -webkit-appearance: none;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    border: 4px solid white;
    border-radius: 50px;
    background: #7d7CCF;
    cursor: pointer;
    margin-top: -7px; 
  }



